<!-- This template, displays all the notes in a bulleted list. -->
{% extends "base.html" %}

{% block title %}Note List{% endblock title %}

{% block content %}
    <h2>Note List <- note_list.html</h2>
<ul>
    {% for note in note_list %}
        <!-- The #TODO links will go to the detail pages for each note -->
        <!-- <li><a href="#TODO">{{ note.name }}</a></li> -->
        <li>
            <a href="{% url 'notes:detail' note.slug %}">{{ note.name }}</a>
            <p class="bg-light text-dark">
                ID: {{ note.id }}  Owner: {{ note.owner }} Name: {{ note.name }}
                Action: {{ note.action }} Desc: {{ note.description }}
                Status: {{ note.status }} Comment: {{ note.comment }}
                Priority: {{ note.priority }} Due: {{ note.due_date }}
                Completed: {{ note.date_completed }} Proj: {{ note.project_id }}
                Persist.: {{ note.persistent }} Category: {{ note.category }}
                Creator.: {{ note.creator }}
                Country: {{ note.country_of_creator }}
                Created: {{ note.created }} Modified: {{ note.modified }}
            </p>
        </li>
    {% endfor %}
</ul>

<hr/>
    <p>Don't see a note listed here?</p>
    <p><a class="btn btn-primary" href="{% url 'notes:add' %}"
                                  role="button">Add Note</a></p>

{% endblock content %}

   id = models.BigAutoField("ID", auto_created=True, primary_key=True,
                             serialize=False)
    owner = models.CharField("Owner", max_length=16)
    name = models.CharField("Note Name", max_length=255)
    slug = AutoSlugField("Note Address", unique=True, always_update=False,
                         default="", populate_from="name")
    action = models.CharField("Note Action", max_length=32)
    description = models.TextField("Description", blank=True)
    status = models.CharField("Status", max_length=20,
                                choices=Status.choices,
                                default=Status.UNSPECIFIED)
    comment = models.TextField("Comment", blank=True)
    priority = models.IntegerField("Priority")
    due_date = models.DateField("Due Date")
    date_completed = models.DateField("Date Completed", default="2023-12-31")
    project_id = models.CharField("Project", max_length=12)
    persistent = models.CharField("Persistent", max_length=1)
    category = models.CharField("Catg", max_length=16)
    # Add a Creator Field (quem cadastrou)
    creator = models.ForeignKey(settings.AUTH_USER_MODEL,
                                null=True,
                                on_delete=models.SET_NULL)
    country_of_creator = CountryField("Country of Creator", blank=True)
